@import "./global";

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;

  .cart-items-container {
    flex: 5 60rem;
    padding: 1rem;

    .cart-legend {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 2.2rem;
      font-weight: 800;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.581),
        rgba(0, 0, 0, 0.004) 3px,
        transparent
      );
    }

    .cart-product {
      display: flex;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.581),
        rgba(0, 0, 0, 0.004) 3px,
        transparent
      );

      div {
        padding: 0.5rem;
      }

      .image-container {
        flex: 1 1;
        display: flex;
        align-items: center;
        .cart-image {
          max-width: 10rem;
          max-height: 10rem;
        }
      }

      .cart-name {
        flex: 8 1;

        .cart-title {
          cursor: pointer;

          &:hover {
            color: $red;
          }
        }
      }

      .cart-quantity {
        .btn-delete {
          margin-left: 2rem;
          background: none;
          border: none;
          box-shadow: none;
          border-radius: 50%;
          font-size: 2.2rem;
          color: $darker;
          transform: translate(0, 9%);

          &:hover {
            transform: translate(0, 5%) scale(1.1);
          }
        }
      }

      .cart-price {
        flex: 1 1;
        text-align: right;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }
  }

  .cart-actions {
    flex: 1 20rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.192);
    padding: 1rem;

    .btn-checkout {
      width: 100%;
      font-size: 1.8rem;
      padding: 1rem;
      margin-top: 2rem;
    }

  }
}
