@import "./global";

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;

  div {
    border-top: .3rem $dark solid;
    padding: 1rem 0;
    color: $dark;    
    flex: 1;
  }

  .active {
    border-top: .3rem $orange solid;
    color: $orange;
  }
}