@import "./global";

.footer {
  grid-area: footer;
  color: white;
  height: 100vh;

  .footer-back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lighten($dark, 5);    
    height: 5%;
    text-align: center;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background-color: lighten($dark, 10);
    }
  }

  .footer-about {
    background-color: $dark;
    height: 45%;
  }

  .footer-more {
    background-color: $darker;
    height: 50%;
  }

}